
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="head">
        <div class="row-fluid">
            <div class="span12">
                <div class="span6">
                    <h1 class="muted">Simplifique</h1>
                </div>

                <!--<div class="span4 offset2" style="margin-top:15px;">
                  {% if session.logged_in %}
                    <li><a href="/sair">Sair</a></li>
                  {% else %}
                    <li><a href="/logar">Entrar</a></li>
                  {% endif %}
                </div> -->
            </div>
        </div>

        {% if session.logged_in %}
              <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">        
                        <ul class="nav">
                              <li>
                                <a href="/">Início</a>
                              </li>
                              <li>
                                  <a href="/sobre">Sobre</a>
                              </li>
                        </ul>             
                        </div>
                      </div>
                  <div class="navbar-inner" id="sair">
                    <div class="container">
                      <ul class="nav">
                        <li>
                          <a href="/sair">Sair</a>
                        </li>
                      </ul>
                    </div>
                  </div>
      
            {% else %}
            <div class="navbar">
              <div class="navbar-inner">
                  <div class="container">        
                      <ul class="nav">
                        <li>
                          <a href="/registrar">Registrar-se</a>
                      </li>
                      </ul>             
                      </div>
                    </div>
          {% endif %}     
      </div>
    </div>
  </div>
</div>