<div class="container">
<footer class="footer navbar-fixed-bottom">
  <div class="social">
    <a href="https://www.instagram.com/elias.rodrigues1/" class="me-4 text-center">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="https://www.linkedin.com/in/elias-antonio-rodrigues-525b5933/" class="me-4 text-center">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://github.com/eliasantoniorodrigues1" class="me-4 text-center">
      <i class="fab fa-github"></i>
    </a>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Desenvolvido por:
      <a class="text-center fw-bold" href="https://www.linkedin.com/in/elias-antonio-rodrigues-525b5933/">Elias Rodrigues</a>
    </div>
</footer> 
</div>