{% extends 'layout.html' %}

{% block body %}
    <!-- <h1>Login</h1> -->
    {% if session.logged_in %}
         {{redirect(url_for('inicio'))}}
    {% else %}
      <div class="wrapper fadeInDown">
         <div id="formContent">
               <div class="fadeIn first" id="icon" alt="User Icon">
                  <!-- <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon"> -->
                  <i class="fas fa-user"></i>
                  <!-- <p>Consultar CEP em lote</p> -->
               </div>
               <form action="" method="POST">
                     <input type="text" id="login" class="fadeIn second" name="username" placeholder="login" value={{request.form.username}}>
                     <input type="password" id="password" class="fadeIn third" name="password"  placeholder="senha" value={{request.form.password}}>
                     <input type="submit" class="fadeIn fourth" value="Entrar">
               </form>
               <!-- Login Form -->
               <form>
               </form>
               <div id="formFooter">
                  <a href="#" class="underlineHover">Esqueci a senha</a>
               </div>
         </div>
      </div>
   {% endif %}
{% endblock %}