<!doctype html>
<html>
    <meta charset="UTF-8">
<head>
    <style>
        .verde {
            color: green;
        }
        .laranja {
            color: green;
        }
        .roxo {
            color: purple;
        }
        .azul {
            color: blue;
        }
        strong {
            font-style: italic;
            font-wight: bolder;
        }
       p {
            font-size: 16px;
            line-height: 1.5;
       }
    </style>
</head>
<body>
<p>Olá, tudo bem com você?<br>
    <strong>Muito obrigado por usar nosso serviço!</strong>.<br> 
    <br> <br>Abraços, <br>Equipe Simplifique | Elias Rodrigues
</p>
</body>
</html>